@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.my-small-icon {
    font-size: 2px; /* Adjust as needed */
}

.footer-text {
    display: flex;
    align-items: center; /* Vertically align the icon and text */
}
